*{
    padding:0;
    margin:0;
}

.nav-container {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: aliceblue;
}
.left-nav li{
    display:flex;
    overflow:hidden;
    float:left;
}
a img{
    width:40px;
    height:40px;
    padding:0;
    margin:0;
}
.except{
    text-decoration:none;
    color:black;
    font-size: 17px;
    text-align:center;
    
   padding:15px;;
    background-color:white;
}
.except:hover{
    background-color:#04AA6D;
    color:white;
}
/*right top nav styling*/
.nav-top-right {
    display: flex;
    justify-content: flex-end;   /* pushes items to the right */
    
}

.right-nav {
    display: flex;               /* makes items appear in a row */
    list-style: none;            /* removes bullets */
    margin: 0;
    padding: 0;
}

.right-nav li {
    padding: 15px;           /* space between items */
    font-size: 17px;
}
.except1:hover:not(:last-child){
    background-color: rgba(254, 249, 249, 0.926);
    border-radius:30px;
    cursor: pointer;
}
#in{
    background-color:#04AA6D;
    padding:8px 15px;
    border-radius:12px;
    color:white;
}
#in:hover{
    opacity: 0.8;
}

.mid-nav{
    margin-top: 50px;
    background-color: #282A35;
    display: grid;
    
    
}
.horizontal-nav{
    display: flex;
    flex-grow: 1;
    float: left;
    
 
}
.horizontal-nav .li{
    float:left;
    list-style-type: none;
}
.li a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 7px;
}