body{
    padding:0;
    margin:0;
    /* width:100vw; */
    height: 100vh;
}

.nav-container {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: rgb(255, 255, 255);
}
.left-nav{
    margin:0;
    padding:0;
}
.left-nav li{
    display:flex;
    overflow:hidden;
    float:left;
}

a img{
    
    width:40px;
    height:40px;
    padding:0;
    margin-right:7px;
}
.except{
    text-decoration:none;
    color:black;
    font-size: 17px;
    text-align:center;
    
   padding:15px;;
    background-color:white;
}
.except:hover{
    background-color:#04AA6D;
    color:white;
}
/*right top nav styling*/
.nav-top-right {
    display: flex;
    justify-content: flex-end;   /* pushes items to the right */
    
}

.right-nav {
    display: flex;               /* makes items appear in a row */
    list-style: none;            /* removes bullets */
    margin: 0;
    padding: 0;
}

.right-nav li {
    padding: 15px;           /* space between items */
    font-size: 17px;
}
.except1:hover:not(:last-child){
    background-color: rgba(254, 249, 249, 0.926);
    border-radius:30px;
    cursor: pointer;
}
#in{
    background-color:#04AA6D;
    padding:8px 15px;
    border-radius:12px;
    color:white;
}
#in:hover{
    opacity: 0.8;
}

.mid-nav{
    background-color: #282A35;
    display: flex;
    align-items: center;
    justify-content: start;
   /* overflow-x: auto; */
}
.horizontal-nav{
    display: flex;
    grid-auto-flow: column;
    white-space:nowrap;
    scroll-behavior: smooth;
    cursor: pointer;
    justify-content:start;
    align-items: center;
    margin:0;
}
 .li{
   
    list-style-type: none;
    padding-right:15px;
    padding-left:0;
    padding-top:10px;
    padding-bottom:10px;
    margin:0;
    
}
.li a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding:14px 20px;
   

}
.li:hover{
    background-color: black;
}
.starting{
    margin-top:80px;
    display:grid;
    place-items:center;
    background-color: #282A35;
    padding-bottom:50px;
}
h1{
    color:white;
    font-family:"Source Sans Pro", sans-serif;
    font-size:70px;
    font-weight:700;
    margin-bottom:-20px;
    margin-top:90px;
    
}
h3{
    color:rgb(255, 244, 163);
    margin-top:30px;
    margin-bottom:10px;
    font-size:23px;
    font-weight:700;
    font-family:"Source Sans Pro", sans-serif;
}
form{
    display: grid;
    grid-template-columns:1fr 80px;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    margin-bottom:10px;
}
.search{
   border-top-left-radius: 25px;
   border-bottom-left-radius: 25px;
   height:45px;
   width:420px;
   margin-right:0;
   border:0px;
   border-color:#282A35;
}
.btn{
    background-color:#04AA6D;
    border:0px;
    border-color: transparent;
    height:45px;
    width:100px;
    margin:0;
    border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
}
h4 a{
    color:white;
    font-size:20px;
    font-family:"Source Sans Pro", sans-serif;
    margin-bottom:80px;
}
.search:focus,
.search:active {
  outline: none;
  border: none;
  box-shadow: none;
}
.btn:hover{
    opacity: 0.8;
    cursor:pointer;
}
h4 a:hover{
    color:rgb(255, 244, 163) ;
}
.ff{
    margin-top:-10px;
    display:grid;
    grid-template-columns:repeat(2,minmax(150px,auto));
    background-color: #D9EEE1;
    justify-content:space-evenly;
    vertical-align: middle;
}
.sec1{
    align-items: center;
    font-family:"Source Sans Pro", sans-serif;
    justify-content: center;
}
.sec1 h1{
    color:black;
    font-size:90px;
    font-weight:700;
   
}
.sec1 p{
    color:black;
    font-size:19px;
   
    font-weight:500;
    margin-top:40px;
}
.w3btn{

    
    border-radius:25px;
    margin:0 60px;
    font-weight:600;
    /* display:block; */
    line-height: 4em;
    
}
.btn1{
    padding:12px 50px 12px;
    color:white;
    background-color: #04AA6D;
}
.btn1:hover{
    background-color:#059862;
}
.btn2{
    padding:12px 45px 12px;
    color:black;
    background-color: rgb(255, 244, 163);
}
.btn2:hover{
    background-color:#fff080 ;
}
.btn3{
    padding:12px 35px 12px;
    color:rgb(255, 255, 255);
    background-color: #282A35;
}
.btn3:hover{
   background-color: black;
}
.btn4{
    padding:12px 50px 12px;
    color:black;
    background-color: rgb(255, 192, 199);
}
.btn4:hover{
    background-color: #ffb3bb;
}
.ff a{
    text-decoration:none;
    text-align: center;
}