h1{
    text-align:center;
}
.navbar ul{
    list-style-type: none;
    background-color: rgba(86, 18, 18, 0.816);
    padding:0px;
    margin:0px;
    overflow:hidden;
}
.navbar a{
    color:white;
    text-decoration:none;
    padding:15px;
    display: block;
    text-align:center
}
.navbar a:hover{
    background-color: rgba(22, 5, 5, 0.816);
}
.navbar li{
   
    display: inline-flex;
    grid-template-columns: 180px;
}