body{
    margin:0;
    background-color: rgb(60, 25, 94);
}
.ty{
    text-align: center;
}
#lab{
    font-size:10em;
    color:blue;
}
.e{
    padding:15px;
    color:whitesmoke;
    background-color: rgb(22, 40, 34);
    border-radius: 15px;
}
.e:hover{
    background-color:rgb(51, 86, 74) ;
}
.e:active{
    background-color: rgb(64, 120, 101);
    font-size: 1em;
}
#submitBtn{
    color:darkblue;
    background-color: aquamarine;
    font-size:1.5em;
    border-radius: 10px;
}
.name{
    width:300px;
    height: 19vh;
    background-color: rgb(68, 9, 123);
    margin-left: 150px;
    color:whitesmoke;

    box-shadow: 4px 4px 12px 4px rgb(133, 36, 224);
    margin-bottom: 50px;
    padding-bottom: 25px;
}
#user, #use{
    width:80%;
    height: 27px;
    border-radius: 8px;
    margin-left: 8px;
    background-color: transparent;
    color: rgb(0, 235, 235);
}
input:hover{
    border-color: aqua;
}
.oop{
    background-color: rgb(102, 139, 139);
    width:200px;
    height:200px;
    margin:120px;
    border-radius:14px;
}
.oop:hover{
    background-color: aqua;
    width:200px;
    height:200px;
    margin:120px;
    border-radius:14px;
    animation-name:anime;
    animation-duration: 7s;
    animation-timing-function:ease-in-out;
}
@keyframes anime{
    0%{
    transform:rotate(7435deg);
    }
    100%{
        transform:rotate(-7435deg);
    }
}