body{
    margin:0;
    /*display: flex;
     justify-content: center;
    align-items:center;
    height:100vh; */
     background-color: hsl(0, 0%, 55%);
}
.calculator{
    font-family:Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    margin: auto;
}
#display{
    width:100%;
    padding:25px;
    color:white;
    font-size:5rem;
    text-align: left;
    border:none;
    background-color: hsl(0, 0%, 25%);
}
#key{
    display:grid;
    grid-template-columns:repeat(4,1fr) ;
    padding:25px;
    gap:10px;
}
.btn{
    width:100px;
    height:100px;
    border-radius: 50px;
    border:none;
    background-color: hsl(0, 0%, 30%);
    color:white;
    font-size:3rem;
    font-weight:bold;
    cursor:pointer;
}
.btn:hover{
    background-color: hsl(0, 0%, 40%);
}
.btn:active{
    background-color: hsl(0, 0%, 50%);
}
#operator{
    background-color: orange;
}
#operator:hover{
    background-color: hsl(39, 100%, 70%);
}
#operator:active{
    background-color: hsl(39, 100%, 80%);
}
h1{
    color:hs1(223,100%,64%);
}
form{
    background-color: white;
    text-align: center;
    max-width:350px;
    margin:auto;
    padding:25px;
    border-radius:10px;
    box-shadow:5px 5px 15px black;
}
#textBox{
    width:50%;
    text-align: center;
    font-size:2em;
    border:2px solid black;
    border-radius:4px;
    margin-bottom:15px;
}
label{
    font-size:1.5em;
    font-weight:bold;
}
#vs{
    margin-top:15px;
    background-color:crimson;
    font-size:1.5em;
    border:none;
    padding:10px 15px;
    color:white;
    border-radius:5px;
    cursor:pointer;
}
#vs:hover{
    background-color: brown;
}
#result{
    font-size:1.75em;
    font-weight:bold;
}